---
search_exclude: true
layout: none
---

<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

<body>
  {% include footer.html %}    
    <section class="container">
        <div class="panel">
                Roma
            </div>
        <div class="panel">
                Parigi
            </div>
              <div class="panel">
                Lione
            </div>
        <div class="panel">
            Marsiglia
         </div>
     </section>
    
    
    
    prova
    
  <button>Puh!</button>
    
    
    
{% include footer.html %}    
    
</body>

</html>
