{%- if page.team and page.team.size != 0 %}
<span class="d-block h2-like fs-2">team</span>
<div class="p-4 rounded mt-4 page-team d-flex flex-wrap gap-2">
    {%- assign team = site.data.team %}
    {%- assign page_team = page.team %}
    {%- for team in page_team %}
    {%- assign id = team[team].git | default: 'no_github' %}
    <div class="dropup-center dropup d-inline-block">
      <button class="btn btn-sm dropdown-toggle team-link d-flex gap-2 align-items-center hover-primary position-relative"  type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" data-bs-offset="0,10">
          <div>
            {%- if team[team].image_url %}
            <div class="ratio ratio-1x1 team-img-sm">
              <div class="contr-placeholder rounded-circle" style="background-image: url({{ team[team].image_url }});">
              </div>
            </div>
            {%- else %}
            {%- if team[team].git %}
            <img class="img-fluid rounded-circle team-img-sm" src="https://avatars.githubusercontent.com/{{ id }}" alt="Avatar of the team {{ team }}">
            {%- else %}
            <div class="contr-placeholder rounded-circle d-flex justify-content-center align-items-center team-img-sm">
              {%- assign contr_name = team | split: " " %}
              {%- assign initials = "" %}
              {%- for name in contr_name %}
                  {%- assign initial = name | slice: 0,1 | capitalize %}
                  {%- assign initials = initials | append: initial %}
              {%- endfor %}
              <span class="fw-bold">{{ initials }}</span>
            </div>
            {%- endif %}
            {%- endif %}
          </div>
          <div>
              {{ team }}
          </div>
        {%- if page.coordinators %}
        {%- for coordinator in page.coordinators %}
        {%- if coordinator == team %}
        <div class="position-absolute top-0 start-100 translate-middle">
            <div class="rounded-circle coordinator-crown">
              <a data-bs-toggle="tooltip" data-bs-original-title="Coordinator of the {{page.title}} page.">
                <i class="fa-solid fa-crown"></i>
              </a>  
            </div>
        </div>
        {%- endif %}
        {%- endfor %}
        {%- endif %}
      </button>
        <div class="dropdown-menu shadow p-0 border-0 team-cards">

          <div class="card">
              {%- assign id = team[team].git | default: 'no_github' %}
              <div class="position-relative">
                {%- if team[team].image_url %}
                <div class="p-3">
                  <div class="ratio ratio-1x1">
                    <div class="contr-placeholder rounded-circle" style="background-image: url({{ team[team].image_url }});">
                    </div>
                  </div>
                </div>
                {%- else %}
                {%- if team[team].git %}
                <img src="https://avatars.githubusercontent.com/{{id}}" class="card-img-top p-3 rounded-circle" alt="{{ team }}">
                {%- else %}
                <div class="p-3">
                  <div class="ratio ratio-1x1">
                    <div class="contr-placeholder rounded-circle d-flex justify-content-center align-items-center">
                      {%- assign contr_name = team | split: " " %}
                      {%- assign initials = "" %}
                      {%- for name in contr_name %}
                          {%- assign initial = name | slice: 0,1 | capitalize %}
                          {%- assign initials = initials | append: initial %}
                      {%- endfor %}
                      <span class="fs-2 fw-bold">{{ initials }}</span>
                    </div>
                  </div>
                </div>
                {%- endif %}
                {%- endif %}
                {%- if team[team].role %}
                <span class="badge position-absolute top-0 end-0">{{ team[team].role | capitalize }}</span>
                {%- endif %}
              </div>
              <div class="card-body text-center py-0">
                <p class="card-title">{{ stripped_name }}</p>
                {%- if team[team].affiliation %}
                <p class="card-affiliation">{{ team[team].affiliation }}</p>
                {%- endif %}
              </div>
              {%- if team[team].git or team[team].email or team[team].orcid %}
              <div class="card-footer">
                <div class="d-flex justify-content-center gap-2">
                  {%- if team[team].git %}
                  <a class="btn bg-white text-primary hover-primary rounded-circle social-icons p-0" href="https://github.com/{{id}}"><i class="fa-brands fa-github"></i></a>
                  {%- endif %}
                  {%- if team[team].email %}
                  <a class="btn bg-white text-primary hover-primary rounded-circle social-icons p-0" href="mailto:{{team[team].email}}"><i class="fa-solid fa-envelope"></i></a>
                  {%- endif %}
                  {%- if team[team].orcid %}
                  <a class="btn bg-white text-primary hover-primary rounded-circle social-icons p-0" href="https://orcid.org/{{team[team].orcid}}"><i class="fa-brands fa-orcid"></i></a>
                  {%- endif %}
                </div>
              </div>
              {%- endif %}
            </div>
        </div>
      </div>{%- endfor %}
</div>
{%- endif %}
