<div class="events {{include.news_type}}s">
  {%- if include.title == true%}
  <h2>{{include.news_type | replace: "_", " " | capitalize}}s</h2>
  {%- endif %}
  {%- assign events = site.data.events %}
  {%- assign count = 0 %}
  <ul class="list-unstyled mt-3">
    {%- for new in news%}
    <li class='{{include.news_type}}'>
      <span class="title mb-1">{{ new.name | escape }}</span>
     <p class="text-muted mb-0"><i class="far fa-calendar me-2"></i><time datetime="{{ new.startDate | date: '%B, %Y %H:%M' }}">{{ new.startDate | date: '%B, %Y'}} {{new.startTime}}</time>
        {% if new.endDate or new.endTime %} - <time datetime="{{ new.endDate | date: '%B, %Y %H:%M %Z' }}">{{ new.endDate | date: '%B, %Y'}} {{new.endTime}}</time>{% endif %}</p>
      {%- if new.location %}
      <i class="fa-solid fa-map-marker-alt me-2 text-muted"></i>
      <div class="d-inline-block text-muted">{{ new.location | markdownify }}</div>
      {%- endif %}
      {%- if new.description %}
      {%- assign word_count = new.description | split: " " | size %}
      {%- if include.truncate == true and word_count > 40 %}
      <p class="mb-0"><a data-bs-toggle="collapse" href="#collapse-{{count}}" role="button" aria-expanded="false" aria-controls="collapse-{{count}}">
        View description
      </a>
      </p>
      <div class="full-description collapse" id="collapse-{{count}}">
        {{ new.description | markdownify }}
      </div>
      {%- else %}
      {{ new.description | markdownify }}
      {%- endif %}
      {%- endif %}
    </li>
    {%- assign count = count | plus: 1 %}
    {%- if include.limit and count == include.limit %}
    {%- break %}
    {%- endif %}
    {%- endfor %}
  </ul>
  {%- if include.caption == true %}
  {%- assign caption_url = include.caption_url | default: "/news" %}
  <small>All dates are provisional!</small>
  {%- endif %}

</div>
