{%- assign tools = site.data.our_events | where:"related_pages", include.tag %}
{%- assign country_pages = site.pages | where_exp: "item", "item.search_exclude != true" | where_exp:"item","item.national_resources != nil" %}
{%- unless tools.size == 0 or tools == nil %}
{%- if include.tag %}
<h2>Events</h2>
{%- endif %}
<a class="visually-hidden-focusable" href='#skip-tool-table'>Skip tool table</a>
<div class="table-responsive mt-4 mb-5">
    <table class="tooltable table display">
        <thead>
            <tr class="text-nowrap">
                <th>Event {%- if include.tag -%}
                    <a data-bs-toggle="tooltip" data-bs-original-title="This is the list of all our events.">
                        <i class="fa-solid fa-info-circle"></i>
                    </a>{%- endif %}
                </th>
                <th>Title</th>
                <th>Organisers</th>
                <th>Teachers</th>
                <th>Venue</th>
                <th>Date</th>
                <th>State</th>

            </tr>
        </thead>
        <tbody>
            {%- for tool in tools | sort %}
            <tr>
                {%- assign instances_tool = 0 %}
                {%- assign total_county_tools = 0 %}
                {%- assign query = "related_pages." | append: page.type %}
                {%- for country_page in country_pages %}
                {%- assign instance_matches = country_page.national_resources | where: "instance_of", tool.name | where_exp:"resource","resource.related_pages != nil" | where: query, include.tag %}
                {%- assign tool_matches = country_page.national_resources | where_exp:"resource","resource.related_pages != nil" | where: query, include.tag %}
                {%- unless tool_matches.size == 0 %}
                {%- assign total_county_tools = total_county_tools | plus: tool_matches.size %}
                {%- endunless %}
                {%- unless instance_matches.size == 0 %}
                {%- assign instances_tool = instances_tool | plus: instance_matches.size %}
                {%- endunless %}
                {%- endfor %}
                {% if tool.url %}
                <td><a href="{{tool.url}}">{{tool.name}}</a></td>
                {%- else %}
                <td>{{tool.name}}</td>
                {%- endif %}
                <td>{{tool.event}}
                    {%- if instances_tool != 0 and total_county_tools != 0 and include.tag != nil or tool.instance_of or tool.how_to_access %}
                    <div class="d-block mt-1">
                        {%- if tool.instance_of %}
                        <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="This resource is an instance of {{tool.instance_of}}"><span class="badge text-primary border border-primary">{{tool.instance_of}}</span></span>
                        {%- endif %}
                        {%- if tool.how_to_access %}
                        <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="{{tool.how_to_access}}"><span class="badge text-primary border border-primary"> <i class="fa-solid fa-key"></i></span></span>
                        {%- endif %}
                        {%- unless instances_tool == 0 or total_county_tools == 0 or include.tag == nil %}    
                        <a href="#national-resources-button">
                            <span class="badge text-white bg-primary"><i class="fa-solid fa-arrow-circle-down me-2"></i>Different instances available</span>
                        </a>
                        {%- endunless %}
                    </div>
                    {%- endif %}
                </td>

            </tr>
            {%- endfor %}

        </tbody>
    </table>
</div>
{%- unless total_county_tools == 0 or include.tag == nil %}
<a class="btn btn-primary" id="national-resources-button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" role="button" aria-expanded="false" aria-controls="{{hide_ids}}">
    View national resources <span class="badge bg-white text-primary ms-2">{{total_county_tools}}</span>
</a>
{%- endunless %}
<div id="skip-tool-table"></div>
{%- endunless %}
