<a class="visually-hidden-focusable" href='#skip-tool-table'>Skip tool table</a>
<div class="table-responsive mt-4 mb-5">
  <table class="tooltable table display">
    <thead>
      <tr class="text-nowrap">
        <th>Event
          <a data-bs-toggle="tooltip"></a>
        </th>
        <th>Title</th>
        <th>Organisers</th>
        <th>Teachers</th>
        <th>   Venue   </th>
        <th>      Date      </th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      {%- for page in site.pages %}
      {%- unless page.search_exclude == true %}
      {%- if page.event %}
      {%- for event in page.event %}
      <tr>
        <td>{{ page.title }}</td>
        <td>
          {%- assign page_url = "" %}
          {%- if event.url %}
            {%- assign page_url = event.url %}
            <a href="{{ page_url }}">{{ event.name }}</a>
          {%- else %}
            {%- for site_page in site.pages %}
              {%- if site_page.title %}
                {%- assign page_url = site_page.url %}
                <a href="{{ site.baseurl }}{{ page_url }}">{{ event.name }}</a>
            
            {%- endfor %}
          {%- endif %}
          
        </td>
        <td>{{ event.organisers }}</td>
        <td>{{ event.teachers }}</td>
        <td>{{ event.venue }}</td>
        <td>{{ event.event_date }}</td>
        <td>{{ event.state }}</td>
      </tr>
      {%- endfor %}
      {%- endif %}
      {%- endunless %}
      {%- endfor %}
    </tbody>
  </table>
</div>
<div id="skip-tool-table"></div>


