<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "CourseInstance",
        "name": "{{ site.pages }}",
        "url": "{{ site.url }}",
        "about": "{{ site.short_description }}",
        "keywords": "{{site.keywords}}",
        "instructor": [
            {%- for people in site.teachers %}
            {
            "@type": "Person",
            "name": "{{people}}"
            }
            {%- endfor %}
        ],

        "courseMode": "{{site.courseMode}}",
        "location": {
            "@type": "Place",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "{{addressLocality}}",
                "addressCountry": "{{addressCountry}}"
            } 
        },
        "startDate": "{{site.startDate}}",
        "endDate": "{{site.endDate}}",
        "duration": "{{site.duration}}",
        "inLanguage": "{{site.inLanguage}}",





        


    }
</script>
