<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Course",
        "name": "{{ page.title }}",
        "url": "{{ page.url }}",
        "about": "{{ page.short_description }}",
        "keywords": "{{page.keywords}}",
        "instructor": [
            {%- for teacher in page.event.teachers %}
            {
            "@type": "Person",
            "name": "{{teacher}}"
            }
            {%- endfor %}
        ],

        "courseMode": "{{page.courseMode}}",
        "location": {
            "@type": "Place",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "{{page.addressLocality}}",
                "addressCountry": "{{page.addressCountry}}"
            } 
        },
        "startDate": "{{page.startDate}}",
        "endDate": "{{page.endDate}}",
        "duration": "{{page.duration}}",
        "inLanguage": "{{page.inLanguage}}",
    }
</script>
